!*/
!*

[Ll]ibrary/
[Ll]ibrary
[Ll]ogs/
[Ll]ogs
[Oo]bj/
[Oo]bj
[Tt]emp/
[Tt]emp
[Uu]serSettings/
[Uu]serSettings

.vs/
.vs

![Aa]ssets/
![Aa]ssets
![Bb]uild/
![Bb]uild
![Pp]ackages/
![Pp]ackages
![Pp]rojectSettings/
![Pp]rojectSettings

*.csproj
*.csproj.user
*.csproj.Backup.tmp
*.sln
*.slnx

.vsconfig

!.gitattributes
!.gitignore
